html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Georgia", "Garamond";
	background-color: #FFCC00;
	background-attachment: fixed;
}
#recipeBody {
	padding: 10px;
	background-image: url("background2.jpg")
}
#navBar {
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background-image: url("navbar.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-left: 7px;
	display: block;
}
#navBarRecipe {
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	padding-left: 7px;
	display: block;
}
#content {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("programbackground.jpg");
	background-attachment: fixed;
	display: block;
}
.navButtonDiv {
	height: 100%;
	text-align: center;
	display: inline-block;
	background-image: url("navbutton.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.navButtonDivRecipe {
	height: 100%;
	width: 100%;
	text-align: center;
	display: inline-block;
	background-color: #DFDF99;
}
.buttonContainer {
	height: 100%;
	padding-right: 20px;
	text-align: left;
	display: inline-block;
	background-color: #003366;
}
#frontBody #homeNav {
	width: 80px;
}
#frontBody #recipeNav {
	width: 100px;
}
#recipeBody #homeNav {
	width: 80px;
}
#recipeBody #recipeNav {
	width: 110px;
}
.navButtonLabel {
	color: #FFFFFF;
	position: relative;
	top: 8px;
}
.navButtonLabelRecipe {
	position: relative;
	top: 8px;
}
#frontBody a {
	text-decoration: none;
	color: #FFFFFF;
}
#recipeBody a {
	text-decoration: none;
}
.contentDiv {
	width: 20%;
	height: 35%;
	display: inline-block;
	position: relative;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center 20px;
	background-size: 60% auto;
	margin: 20px;
}
#tater1 {
	background-image: url("tater1.png");
}
#tater2 {
	background-image: url("tater2.png");
}
#tater3 {
	background-image: url("tater3.png");
}
#tater4 {
	background-image: url("tater4.png");
}
h1, h2, h3, h4, h5 {
	background-color: #F0F0F0;
	color: #A4A400;
	font-family: Verdana;
}
h1, h2{
	text-align: center;
}
h3, h4, h5 {
	text-align: left;
}
.fatText {
	font-weight: bold;
}
.headerKindaFat {
	font-size: 20px;
}
table {
	margin-top: 20px;
	font-family: "Verdana";
	table-layout: auto;
	color: #FFFFFF;
	background-color: #F0F0F0;
	border: 2px solid #FFFFFF;
	padding-left: 5px;
	padding-right: 5px;
}
th {
	background-color: #003366;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #FFFFFF;
}
td {
	background-color: #CC9933;
	padding-left: 5px;
	padding-right: 5px;
	border: 2px solid #FFFFFF;
}
td.tableHeader {
	background-color: #F0F0F0;
}
li {
	list-style-type: square;
}